@import 'app/styles/base';

%slide{

	width: 100%;
	background-size: cover;
	background-position: center;
	max-height: 400px;

}

.noJazz{

	.slide{

		@extend %slide;
		height: 400px;
		margin-bottom: 10px;

	}

}

.jazz{

	position: relative;

	.slide{

		@extend %slide;

		@include portrait(){

			height: 40vh;

		}

		@include landscape(){

			height: 40vw;

		}

	}

	.swipeArrow{

		position: absolute;
		background-color: rgba(0, 0, 0, 0.15);
		color: #fff;
		border: none;
		border-radius: 2px;
		height: 100%;
		top: 0;

		i{

			font-size: 36px;

		}

		&.touchevents {

			display: none;

		}

	}

}