@import '~react-toolbox/lib/base';

//############################################################################################ FLEX


//https://css-tricks.com/using-flexbox/
%flexcontainer{

	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */

}

//https://css-tricks.com/using-flexbox/
%flexitem{

	-webkit-box-flex: 1;      /* OLD - iOS 6-, Safari 3.1-6 */
	-moz-box-flex: 1;         /* OLD - Firefox 19- */
	width: 20%;               /* For old syntax, otherwise collapses. */
	-webkit-flex: 1;          /* Chrome */
	-ms-flex: 1;              /* IE 10 */
	flex: 1;                  /* NEW, Spec - Opera 12.1, Firefox 20+ */

	flex-shrink: 0;
	flex-basis: auto;

}

//https://css-tricks.com/using-flexbox/
@mixin flexorder( $order ) {

	-webkit-box-ordinal-group: $order;   /* OLD - iOS 6-, Safari 3.1-6 */
	-moz-box-ordinal-group: $order;      /* OLD - Firefox 19- */
	-ms-flex-order: $order;              /* TWEENER - IE 10 */
	-webkit-order: $order;               /* NEW - Chrome */
	order: $order;                       /* NEW, Spec - Opera 12.1, Firefox 20+ */

}



//############################################################################################ TYPOGRAPHY


@mixin IconButtonSize( $size ){

  width: $size;
  height: $size;

  span[data-react-toolbox="font-icon"] {

    line-height: $size;
    font-size: $size;

  }

  span[data-react-toolbox="ripple"] {

    line-height: $size;

  }

}


//############################################################################################ LAYOUT

%corset{

  max-width: 960px;
  margin: 0 auto;

}

$corsetPadding: 5vh;

%pad{

  padding: 0 $corsetPadding;
  box-sizing: border-box;

}


//############################################################################################ VIDEO

%videoWrapper {

  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;

  iframe {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba( 0,0,0,0.1 );

  }

}

//############################################################################################ MEDIAQUERIES

@mixin XXS {

  @media ( max-width: #{ $layout-breakpoint-xxs } ) {

    @content;

  }

}

@mixin XS {

  @media ( min-width: #{ $layout-breakpoint-xxs + 1px } ) and (max-width: #{ $layout-breakpoint-xs } ) {

    @content;

  }

}

@mixin SM-T {

  @media ( min-width: #{ $layout-breakpoint-xs + 1px } ) and (max-width: #{ $layout-breakpoint-sm-tablet } ) {

    @content;

  }

}

@mixin SM {

  @media ( min-width: #{ $layout-breakpoint-xs + 1px } ) and (max-width: #{ $layout-breakpoint-sm } ) {

    @content;

  }

}

@mixin MD {

  @media ( min-width: #{ $layout-breakpoint-sm + 1px } ) and (max-width: #{ $layout-breakpoint-md } ) {

    @content;

  }

}

@mixin LG {

  @media ( min-width: #{ $layout-breakpoint-md + 1px } ) and (max-width: #{ $layout-breakpoint-lg } ) {

    @content;

  }

}

@mixin XL {

  @media ( min-width: #{ $layout-breakpoint-lg + 1px } ) and (max-width: #{ $layout-breakpoint-xl } ) {

    @content;

  }

}

@mixin XXL {

  @media ( min-width: #{ $layout-breakpoint-xl + 1px } ) and (max-width: #{ $layout-breakpoint-xxl } ) {

    @content;

  }

}

@mixin XXXL {

  @media ( min-width: #{ $layout-breakpoint-xxl + 1px } ) and (max-width: #{ $layout-breakpoint-xxxl } ) {

    @content;

  }

}

//################################################################## GT/SM

@mixin GtXXS {

  @media (min-width: #{ $layout-breakpoint-xxs }) {

    @content;

  }

}

@mixin LtXXS {

  @media (max-width: #{ $layout-breakpoint-xxs }) {

    @content;

  }

}

@mixin GtXS {

  @media (min-width: #{ $layout-breakpoint-xs }) {

    @content;

  }

}

@mixin LtXS {

  @media (max-width: #{ $layout-breakpoint-xs }) {

    @content;

  }

}

@mixin GtSM {

  @media (min-width: #{ $layout-breakpoint-sm }) {

    @content;

  }

}

@mixin LtSM {

  @media (max-width: #{ $layout-breakpoint-sm }) {

    @content;

  }

}

@mixin GtMD {

  @media (min-width: #{ $layout-breakpoint-md }) {

    @content;

  }

}

@mixin LtMD {

  @media (max-width: #{ $layout-breakpoint-md }) {

    @content;

  }

}

@mixin GtLG {

  @media (min-width: #{ $layout-breakpoint-lg }) {

    @content;

  }

}

@mixin LtLG {

  @media (max-width: #{ $layout-breakpoint-lg }) {

    @content;

  }

}

//############################################################################################ REACT TOOLBOX DIALOG

%dialog{

  transition: height 2s, width 2s;

  @include LtSM( ){

    &[data-react-toolbox="dialog"]{

      width: 100vw;

    }

  }

  @include MD( ){

    &[data-react-toolbox="dialog"]{

      width: 60vw;

    }

  }

  @include GtMD( ){

    &[data-react-toolbox="dialog"]{

      width: 50vw;

    }

  }

}
