$fringe-height: 40px;

%corset{

	max-width: $corset-width;
	margin: 0 auto;

}

%padded{

	padding-right: $site-padding-sides;
	padding-left: $site-padding-sides;
	
}

/* %center{

	text-align: center;

} */

%toggle{

	@extend %corset;

	&>a{

		padding: 2em 0;

	}

	&>div{

		margin-bottom: 2em;

	}

	h3{

		position: relative;
		font-style: italic;

		i{

			position: absolute;
			right: 0;

		}

	}

}