
//############################################################################################ VARS


$heightIntro: 100vh;
$heightInfo: 65px; // Also change the scrollTo offset in App.jsx
$heightContent: calc(100vh - #{$heightInfo});
$heightContent-moz: -moz-calc(100vh - #{$heightInfo});
$heightContent-webkit: -webkit-calc(100vh - #{$heightInfo});

$bg-fade-duration: 2s;

$text-color: $palette-grey-800;


//############################################################################################ PLACEHOLDERS

%coastwardsContent{

  @extend %corset;
  @extend %pad;

  min-height: $heightContent-moz;
  min-height: $heightContent-webkit;
  min-height: $heightContent;
  padding-top: 5vh;
  padding-bottom: $heightInfo;

  p{

    font-size: $font-size-small;

  }

  h2{

    @include typo-display-1(false, true);
    font-weight: 600;

  }

  h3{

    @include typo-headline();
    font-weight: 600;

  }

  h4{

    @include typo-headline();
    margin-top: 5vh;
    font-weight: 600;

  }

}

%headline{

  font-weight: $font-weight-semi-bold;
  font-size: 3vh;

}

/* p {

  @include typo-body-1;
  font-size: 1.7rem;

} */