$font-family: Roboto;

$color-text: #000;
$color-primary: #0058e6;
$color-signal: #f44336;

$color-logo: #f44336;

$corset-width: 600px;
$site-padding-sides: 8%;
$site-padding-top: 10%;
$site-padding-bottom: 10%;
$site-padding-inner: 10%;

$gutter-width: 10px;
$overlay-color: rgba( 255, 255, 255, 0.97 );

$column-width: 600px;