$font-family: Roboto;

$color-primary: #0058e6;

$color-logo: #f44336;

$corset-width: 600px;
$site-padding-sides: 5%;
$site-padding-top: 3em;
$site-padding-bottom: 10%;
$site-padding-inner: 5em;

$gutter-width: 10px;
$overlay-color: rgba( 255, 255, 255, 0.97 );