@import "~react-toolbox/lib/commons";
@import '_base';


//################################################################## LAYOUT

.corset{

	max-width: 1200px;
	margin: 0 auto;

}


//################################################################## CONTEXT

//################################ LOADER

.contextLoader{

	position: fixed;
	top: 0;

}

//################################ SNACKBAR

.snackbar{

	right: 33%;
	left: 33%;
	border-radius: 0.2rem 0.2rem 0 0;

}


@include XXS{

	.snackbar{

		right: 0;
		left: 0;
		border-radius: 0;

	}

}

@include XS{

	.snackbar{

		right: 10%;
		left: 10%;

	}

}

@include SM{

	.snackbar{

		right: 20%;
		left: 20%;

	}

}

@include MD{

	.snackbar{

		right: 25%;
		left: 25%;

	}

}

@include LG{

	.snackbar{

		right: 30%;
		left: 30%;

	}

}
 
//################################################################## LANGUAGES

#Languages{

	height: 36px;
	overflow: hidden;
	margin: $layout-gutter-width-sm 0;

}

@include GtSM{

	#Languages{

		.tabitem.left, .tabitem.right{
			visibility: hidden;
		}

		.tabitem.content{
			justify-content: center;
		}

	}
	
}

//################################################################## CONTENT

#Content{

	height: 70vh;
	background-color: rgba(0,0,0,0.2);

}