@import "~react-toolbox/lib/commons";
@import '_base';

.contextLoader{

	position: fixed;

}

.snackbar{

}

#Languages{

	height: 36px;
	overflow: hidden;
	margin: $layout-gutter-width-sm 0;

}

@include GtSm{

	#Languages{

		.tabitem.left, .tabitem.right{
			visibility: hidden;
		}

		.tabitem.content{
			justify-content: center;
		}

	}
	
}