@import "modules/all";
@import 'partials/_config';


.frameworkAlert{

	background-image: url('../../public/assets/coastwards.png');
	background-repeat: no-repeat;
	background-position: top center;
	padding: 200px 10px 10px 10px;
	text-align: center;
	padding: 150px 10px 10px 10px;
    margin: 50px;

}

a{
	cursor: pointer;
}

