@import 'app/styles/base';

%button{

	border: none;
	padding: 0.7em 1em;
	font-weight: bold;
	cursor: pointer;
	border-radius: 2px;

}

.cancel{

	@extend %button;
	background: transparent;

}

.go{

	@extend %button;
	background-color: $color-primary;
	color: #ffffff;

}

.submit{

	@extend %button;
	background-color: $color-primary;
	color: #ffffff;

}

.icon{

	@extend %button;
	background-color: $color-primary;
	color: #ffffff;

	i{

		vertical-align: middle;
		margin-right: 0.1em;

	}

}

.toggle{



}

.cancel:disabled, .go:disabled, .submit:disabled, .icon:disabled{

	opacity: 0.5;
	cursor: default;

}
