/*{
  "presets": [
    ["env", {"modules": false}],
    // webpack understands the native import syntax, and uses it for tree shaking
    "stage-0",
    "react"
    // Transpile React components to JavaScript
  ],
  "plugins": [
    "syntax-async-functions",
    "react-hot-loader/babel"
    // Enables React code to work with HMR.
  ]
}*/

{

  "plugins": [ "@babel/plugin-proposal-class-properties" ]

}