@import 'app/styles/reset';
@import 'app/styles/tags';

%i18n{

	text-align: center;
	display: none;
	direction: ltr; //no need to change direction with rtl scripts

	@include portraitMin( $tablet ){

		display: block;

	}

	@include landscapeMin( $tablet ){

		display: block;

	}

}

%intro{

	text-align: center;

}

%headline{

	font-family: "Roboto Slab";
	word-wrap: break-word;
	font-size: 29px;

	@include min( $tablet ){

		font-size: 64px;

	}

}

%tagline{

	font-weight: 200;
	font-size: 18px;

	@include min( $tablet ){

		font-size: 24px;

	}

}

%more{

	@extend %bigButton;
	display: none;

	&.show{

		display: inline-block;

	}

}

%info{

	display: none;

	&.show{

		display: block;

	}

}


.noJazz{


	$section-margin: 10%;

	@extend %corset;
	margin-bottom: $mobile-margin-bottom;

	&>*{

		@extend %mobileMarginSides;

	}

	.i18n{

		@extend %i18n;
		margin-top: $mobile-margin;
		margin-bottom: $mobile-margin;

	}

	.intro{

		@extend %intro;
		margin-top: $section-margin;
		margin-bottom: $section-margin;

		.logo{

			width: 300px;
			max-width: 60%;

		}

		.headline{

			@extend %headline;

		}

		.tagline{

			@extend %tagline;
			margin-bottom: 0;

		}

		.more{

			@extend %more;
			margin-top: $section-margin;

		}

	}

	.info{

		@extend %info;
		margin-top: $section-margin;
		margin-bottom: $section-margin;

	}

}

.jazz{

	.i18n{

		@extend %i18n;
		padding-top: 2vh;
		background-color: $color-primary;

		a{

			color: #fff;

		}

	}

	.intro{

		@extend %intro;
		background-color: $color-primary;
		color: #fff;

		@include portrait( ){

			padding: 10vw 5vw;

		}

		@include landscape( ){

			padding: 10vh 15vh;

		}

		.logo{

			min-width: 160px;
			width: 250px;
			margin-bottom: 1em;

			@include portrait( ){

				max-width: 60vw;

			}

			@include landscape( ){

				max-width: 60vh;

			}

			@include portraitMin( $tablet ){

				max-width: 60vw;

			}

			@include landscapeMin( $tablet ){

				max-width: 60vh;

			}

		}

		.headline{

			@extend %headline;

		}

		.tagline{

			@extend %tagline;
			margin-bottom: 0;

		}

		.more{

			@extend %more;
			border-color: #fff;
			color: #fff;
			
			@include portrait( ){

				margin-top: 10vw;

			}

			@include landscape( ){

				margin-top: 10vh;

			}

		}

	}

	.info{

		@extend %info;

	}

}