@import 'app/styles/reset';
@import 'app/styles/tags';

%i18n{

	text-align: center;
	display: none;
	direction: ltr; //no need to change direction with rtl scripts

	@include portraitMin( $tablet ){

		display: block;

	}

	@include landscapeMin( $tablet ){

		display: block;

	}

}

%headline{

	font-family: "Roboto Slab";
	word-wrap: break-word;
	font-size: 29px;

	@include min( $tablet ){

		font-size: 64px;

	}

}

%tagline{

	font-weight: 200;
	font-size: 18px;

	@include min( $tablet ){

		font-size: 24px;

	}

}

%more{

	display: none;

	border-radius: 2px;
	padding: 0.5em 2em;
	font-size: 2em;
	border-width: 1px;
	border-style: solid;

	&.show{

		display: inline-block;

	}

}

%info{

	display: none;

	&.show{

		display: block;

	}

}


.noJazz{


	$section-margin: 10%;

	@extend %corset;
	margin-top: $mobile-margin;
	margin-bottom: 50px;

	&>*{

		@extend %mobileMarginSides;

	}

	.alert{

		@extend %alert;
		
	}

	.i18n{

		@extend %i18n;
		margin-bottom: $mobile-margin;

	}

	.intro{

		text-align: center;
		margin-top: $section-margin;
		margin-bottom: $section-margin;

		.logo{

			width: 300px;
			max-width: 60%;

		}

		.headline{

			@extend %headline;

		}

		.tagline{

			@extend %tagline;

		}

		.more{

			@extend %more;
			margin-top: $section-margin;
			border-color: $color-primary;
			color: $color-primary;

		}

	}

	.info{

		@extend %info;
		margin-top: $section-margin;
		margin-bottom: $section-margin;

	}

}