@import 'app/styles/base';

$actions-height: 60px;

%sheetCorset{

	width: $corset-width;
	max-width: 90%;
	margin: 0 auto;

}

%inner{

	padding: 1em;

}

.form{

	display: none;

}

.show{

	display: block;

}



.formJazz{

	pointer-events: none;
	opacity: 0;
	transition: opacity 500ms;
	z-index: 2;

	&>div{

		position: relative;
		top: -100%;
		transition: top 500ms;

		h2{

			font-size: 2em;
			font-weight: 300;
			margin: 0;

		}

		label {

		    margin-top: 2em;
		    display: block;

		}

	}

}

.sheet{

	@extend %sheetCorset;
	background-color: white;
	box-shadow: 0 19px 60px rgba(0,0,0,.3),0 15px 20px rgba(0,0,0,.22);
	height: 80%;
	overflow-y: scroll;

}

.actions{

	@extend %inner;
	@extend %sheetCorset;
	
	text-align: right;
	background: #fff;
	position: relative;
	top: -$actions-height;
	border-top: #e1e1e1 1px solid;
	box-shadow:  0 -2px 2px 0 rgba(0,0,0,.14);

}

.showJazz{
 
	pointer-events: all;
	opacity: 1;

	&>div{

		top: 0;

	}

}

.cancel{

	margin-right: 1em;

}

.image{

	height: 40%;
    width: 100%;
    overflow: hidden;
    background-size: cover;
    background-position: 50%;

}

.content{

	@extend %inner;
	margin-bottom: $actions-height;

}

/* .actions{

	@extend %inner;
	height: $actions-height;

} */

/* .form{

	@extend %fullscreen;
	position: fixed;
    background: rgba(0, 0, 0, 0.6);

    &>div{

    	@extend %corset;
    	background: #fff;
	    height: 70%;
	    overflow: scroll;
	    box-shadow: 0 19px 60px rgba(0,0,0,.3),0 15px 20px rgba(0,0,0,.22);
	    border-radius: 3px;

    }

} */