@import 'app/styles/base';

.geolocator{

	@extend %screenInit;

}

.show{

	@extend %screenShow;
	pointer-events: none;

	.option{

		pointer-events: all;

	}

}

.option{

	@extend %screenOption;

}

.marker{

	width: 40px;

}