@import 'app/styles/base';

.intro{

	@extend %corset;
	margin-top: $site-padding-inner;

	h1{

		text-transform: uppercase;
		font-weight: 300;
		font-size: 2em;

	}

	h2{

		font-weight: 500;

	}

	img{

		margin: 0 auto;
		display: block;
		width: 200px;

	}

}