@import 'app/styles/base';

.headline{

	text-transform: uppercase;
	font-weight: 300;
	font-size: 1.5em;

}

.tagline{

	font-weight: 500;
	font-size: 1.2em;

}

.logo{

	max-width: 70%;
	width: 300px;

} 

/* @media ( min-width: 960px ) {

  .headline{

  	span{

  		white-space: nowrap;
  		display: block;

  	}

  }

} */