@import 'app/styles/base';

.pad{

	padding-right: $site-padding-sides;
	padding-left: $site-padding-sides;
	padding-bottom: $site-padding-bottom;

}

.corset{

	@extend %corset;

}

.main{

	position: relative;
	height: 100%;

}

.screen{

	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;

}