@import 'app/styles/base';

$screen-overlay-color: rgba(255, 255, 255, 0.7);

.pad{

	padding-right: $site-padding-sides;
	padding-left: $site-padding-sides;
	padding-bottom: $site-padding-bottom;

}

.corset{

	@extend %corset;

}

.main{

	position: relative;
	height: 100%;
	margin-top: 6em;
	overflow: hidden;

}

.mapbox{

	height: 100%;
	//padding-top: $fringe-height;
	top: 0;
	background-color: #ccc;

}

%fullscreen{

	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	//padding-top: $fringe-height;

}

.upload{

	@extend %fullscreen;
	pointer-events: none;

	button{

		pointer-events: all;
		//outline: none;

	}

}

.form{

	@extend %fullscreen;
	background-color: $screen-overlay-color;

}

.screen{

	@extend %fullscreen;
	@extend %flexcontainer;
	justify-content: center;
	align-items: center;
	align-content: center;
	flex-direction: column;
	text-align: center;
	padding: $fringe-height $site-padding-sides;
	background-color: $screen-overlay-color;

	h2{

		font-weight: 400;

	}

}

.fringe{

	position: absolute;
	width: 100%;
	background: rgba(255, 255, 255, 0);
	transition: background 500ms, opacity 500ms;
	height: $fringe-height;
	z-index: 1;

}
