@import 'app/styles/base';

.marker{

	@extend %screenInit;

}

.show{

	@extend %screenShow;
	pointer-events: none;

	.doneBtn, .cancelBtn, .toggleSatellite{

		pointer-events: all;

	}

}

.img{

	height: 70px;
	position: relative;
	top: -35px;

}

.cancelBtn{

	background: $color-signal;
    @extend %roundBtn;
    right: 95px;

}


.doneBtn{

	background: $color-primary;
    @extend %roundBtn;

}

.disabled{

	pointer-events: none !important;
	opacity: 0.5;

}

.toggle{

	position: absolute;
    right: 15px;
    bottom: 15px;
    width: 40px;
    height: 40px;
    border: 1px solid #fff;
    box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.24);

}