@import 'app/styles/base';

.marker{

	@extend %screenInit;

}

.show{

	@extend %screenShow;
	pointer-events: none;

	.cancel, .continue, .toggle{

		pointer-events: all;

	}

}

.img{

	height: 70px;
	position: relative;
	top: -35px;

}

.cancel, .continue{

    i{

    	font-weight: 800;

    }

}

.cancel{

	@extend %roundBtn;
	width: 46px;
	height: 46px;
	top: 20px;
	right: 65px;
	background-color: $color-signal;

}


.continue{

	@extend %roundBtn;
	width: 46px;
	height: 46px;
	top: 20px;
	right: 10px;
    background-color: #24bb2a;

}

.disabled{

	pointer-events: none !important;
	opacity: 0.5;

}

.toggle{

	position: absolute;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.24);

}


@media ( min-width: #{ $tablet } ) {

	.cancel, .continue{

	    width: 66px;
	    height: 66px;

	}

	.cancel{

		right: 85px;

	}

	.toggle{

		width: 70px;
		height: 70px;

	}

}