@import 'app/styles/base';

.marker{

	@extend %screenInit;

}

.show{

	@extend %screenShow;
	pointer-events: none;

	.cancel, .continue, .toggle{

		pointer-events: all;

	}

}

.img{

	width: 100px;
	height: 100px;
	position: relative;
    z-index: 1;
    border-radius: 2px;

    overflow: hidden;
    background-size: cover;
    background-position: 50%;

}

.tip{

	height: 70px;
	position: relative;
    top: -50px;

}

.pointer{

	position: relative;
	top: -25px;
	pointer-events: none;

}

.cancel, .continue{

	top: auto;

    i{

    	font-weight: 800;

    }

}

.cancel{

	@extend %roundBtn;
	width: 46px;
	height: 46px;
	bottom: 20px;
	right: 75px;
	background-color: $color-signal;

}


.continue{

	@extend %roundBtn;
	width: 46px;
	height: 46px;
	bottom: 20px;
	right: 20px;
    background-color: $color-green;

}

.disabled{

	pointer-events: none !important;
	opacity: 0.5;

}

.toggle{

	position: fixed;
    bottom: 20px;
    right: 130px;
    width: 46px;
    height: 46px;
    box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.24);
    border-radius: 50%;
    overflow: hidden;

}


@media ( min-width: #{ $tablet } ) {

	.cancel, .continue{

	    width: 66px;
	    height: 66px;

	}

	.cancel{

		right: 100px;

	}

	.toggle{

		width: 66px;
		height: 66px;
		right: 180px;

	}

	/* .img{

		width: 300px;
		height: 300px;

	}

	.pointer{

		top: -125px;

	} */

}