@import 'app/styles/base';

%action{

	margin-right: 0.5em;

}

.popup{

	@extend %flexcontainer;
	flex-direction: column;
	overflow-y: scroll;
	width: 300px;
	height: 300px;

}

.image{

	@extend %flexitem;
	flex-grow: 1;
	width: 100%;
	overflow: hidden;
	background-size: cover;
	background-position: center;

}

.actions{

	@extend %flexitem;
	flex-grow: 0;
	width: 100%;
	padding: 10px;

}

.comment{

	margin: 1em 0;
	display: none;

}

.show{

	display: block;

}

@media all and (orientation:landscape) {

	.popup{

		width: 60vh;
		height: 60vh;

	}

	.image{

		min-height: 20vh;

	}

}

@media all and (orientation:portrait) {

	.popup{

		width: 60vw;
		height: 60vw;

	}

	.image{

		min-height: 20vw;

	}

}

.clear{

	float: right;

	i{

		font-weight: bold;

	}

}

.commentIcon, .send{

	@extend %action;

}

.disabled{

	opacity: 0.2;
	pointer-events: none;
	cursor: default;

}

.active{

	color: $color-text;

}

.favorite{

	@extend %action;
	color: #f46e36;

}