@import 'app/styles/base';

.hide{

	display: none;

}

.top{

	@extend %pad;

}

.padder{ //Weird zoom bug. if no margin or margin is set 1%, mapbox doesn't zoom (the entire page does)

	margin-top: 5%;

}


/* .i18n{

	@extend %corset;
	margin-top: $site-padding-top;

}

@media ( min-width: #{ $column-width } ) {

  .i18n{

  	display: block;

  }

} */

.intro{

	@extend %corset;
	padding-top: $site-padding-top;
	text-align: center;

}

.info{

	@extend %corset;
	padding-top: $site-padding-inner;

}

.down{

	display: block;
	margin: $site-padding-inner 0 0 0;
	text-align: center;

	i{

		font-size: 48px;

	}

}
