@import 'app/styles/base';

.dropzone{

	width: 100%;
	height: 100%;
	//background-color: rgba(0,0,0,0.1);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;

}

.hidden{

	display: none;

}

.upload{

	background: #0000ee;
    border: none;
    border-radius: 50%;
    width: 6em;
    height: 6em;
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 3;
    color: #ffffff;
    box-shadow: 0 1px 1.5px 0 rgba(0,0,0,.12),0 1px 1px 0 rgba(0,0,0,.24);
	
}