@import 'app/styles/base';

$actions-height: 60px;

%sheetCorset{

	width: $corset-width;
	max-width: 90%;
	margin: 0 auto;

}

%inner{

	padding: 1em;

}

.form{

	display: none;

}

.show{

	display: block;

}



.formJazz{

	pointer-events: none;
	opacity: 0;
	visibility: hidden;
	transition: opacity 500ms;
	z-index: 2;

	&>div{

		position: relative;
		top: -100%;
		transition: top 500ms;

		h2{

			font-size: 1.7em;
			font-weight: 300;
			margin-top: 0.5em;

		}

		label {

		    margin-bottom: 3em;
		    display: block;

		}

	}

}

.sheet{

	@extend %sheetCorset;
	background-color: white;
	box-shadow: 0 19px 60px rgba(0,0,0,.3),0 15px 20px rgba(0,0,0,.22);
	height: 80vh;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;

}

.actions{

	@extend %inner;
	@extend %sheetCorset;
	
	text-align: right;
	background: #fff;
	position: relative;
	top: -$actions-height;
	@extend %drawershadow;

}

.showJazz{
 
 	visibility: visible;
	pointer-events: all;
	opacity: 1;

	&>div{

		top: 0;

	}

}

.cancel{

	margin-right: 1em;

}

.image{

	height: 40%;
    width: 100%;
    overflow: hidden;
    background-size: cover;
    background-position: 50%;

}

.content{

	@extend %inner;
	margin-bottom: $actions-height;
	padding-bottom: 2em;

}

.radiogroup{

	@extend %flexcontainer;
	flex-wrap: wrap;

	span{

		@extend %flexitem;
		width: auto;
		flex-grow: 0;
		margin: 1em 0.5em 0.5em 0;

	}

}
