@import 'app/styles/base';

.legend{

	position: absolute;
	bottom: 0;
	left: 0;
	pointer-events: none;
	padding: 10px;
	z-index: 1;

	@extend %hide;

	&.show{

		@extend %show;

	}

	@include min( $tablet ){

		bottom: $mobile-margin;
		left: $mobile-margin;
		background-color: rgba(255, 255, 255, 0.7);
		border-radius: $border-radius;

	}

	.materials{

		display: none;
		//margin-left: $mobile-margin;
		@extend %flexcontainer;
		flex-direction: row;
		align-items: center;
		margin-bottom: $mobile-margin;

		@include min( $tablet ){

			display: inline-block;

		}

		.material{

			margin: 0.3em 0 0 0;
			@extend %flexcontainer;
			flex-direction: row;
			align-items: center;
			color: $color-primary;

			.dot{

				width: 1.1em;
				height: 1.1em;
				border-radius: 50%;
				margin-right: 0.5em;
				display: inline-block;

			}

		}

		.material:first-child{

			margin-top: 0;

		}

	}

}