@import 'app/styles/base';


.alert{

	margin-top: $mobile-margin-bottom;
	@extend %alert;
	
}

.noJazz{

	

}

.jazz{

	%fullscreen{

		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;

	}

	%screen{

		@extend %fullscreen;
		z-index: 1;
		background-color: $screen-overlay-color;

		@extend %flexcontainer;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;

	}

	position: relative;
	height: 100vh;
	width: 100%;
	overflow: hidden;

	//touch-action: none;

	.mapbox{

		height: 100%;
		top: 0;

	}

	.fullscreen{

		@extend %fullscreen;

	}

	.screen{

		@extend %screen;

	}

	.marker{

		@extend %screen;
		background-color: transparent;

	}

	.arrow{

		@extend %nodrag;
		position: fixed;
		z-index: 1;
		top: 0;
		width: 100%;
		pointer-events: none;
		text-align: center;
		display: none;

		&.show{

			display: block;

		}

		i{

			pointer-events: all;
			font-size: 72px;

		}

	}

}