@import 'app/styles/base';

.noupload, .barebones{

	padding-right: $site-padding-sides;
	padding-left: $site-padding-sides;
	padding-bottom: $site-padding-bottom;
	margin-top: $site-padding-inner;

}

.jazz{

	position: relative;
	height: 100%;
	width: 100%;
	overflow: hidden;

	//touch-action: none;

}

.corset{

	@extend %corset;

}

.mapbox{

	height: 100%;
	top: 0;

}

%fullscreen{

	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;

}

.upload{

	@extend %fullscreen;
	pointer-events: none;

	button{

		pointer-events: all;

	}

}

.form{

	@extend %fullscreen;
	background-color: rgba( 0, 0, 0, 0.6 );

}

.marker{

	@extend %fullscreen;
	@extend %flexcontainer;
	justify-content: center;
	align-items: center;
	align-content: center;
	flex-direction: column;
	text-align: center;
	padding: $fringe-height $site-padding-sides;

}

.screen{

	@extend %fullscreen;
	@extend %flexcontainer;
	justify-content: center;
	align-items: center;
	align-content: center;
	flex-direction: column;
	text-align: center;
	padding: $fringe-height $site-padding-sides;
	background-color: $screen-overlay-color;
	z-index: 1;

	h2{

		font-weight: 600;
		max-width: 700px;

	}

}

.up{

	position: absolute;
    bottom: $gutter-width;
    left: $gutter-width;
    z-index: 1;
    text-transform: uppercase;
    width: 65px;

    i{

    	vertical-align: text-bottom;

    }

}

/* .toomany{

	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	padding: $gutter-width;
	text-align: center;

} */


.enter {

  opacity: 0.1;

}

.enterActive {
  
  opacity: 1;
  transition: opacity 300ms ease-in;

}

.leave {
 
 	opacity: 1;

}

.leaveActive {

  opacity: 0.1;
  transition: opacity 300ms ease-in;
  
}
