@import 'app/styles/base';

.marker{

	@extend %screenInit;

	&.show{

		@extend %screenShow;
		pointer-events: none;

	}

	.pointer{

		@extend %flexcontainer;
		flex-direction: column;
		pointer-events: none;
		position: relative;
		top: calc( -15vh - 10px);
		box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);

		.img{

			width: 30vh;
			height: 30vh;
			position: relative;
		    z-index: 1;
		    border-radius: 2px;
		    overflow: hidden;
		    background-size: cover;
		    background-position: 50%;
		    border-bottom: 10px solid $color-true;

		}

		.img_locked{

			border-bottom-color: $color-false;

		}

		.tip {

			position: relative;
			background: $color-true;
			top: -1px;

		}

		.tip:after {

			top: 100%;
			left: 50%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
			border-color: rgba(136, 183, 213, 0);
			border-width: 20px;
			margin-left: -20px;
			border-top-color: $color-true;

		}

		.tip_locked{

			background: $color-false;

		}

		.tip_locked:after{

			border-top-color: $color-false;

		}

	}

}