@import 'app/styles/base';

.marker{

	@extend %screenInit;

}

.show{

	@extend %screenShow;
	pointer-events: none;

	.cancel, .continue, .toggle{

		pointer-events: all;

	}

}

.pointer{

	@extend %flexcontainer;
	flex-direction: column;
	/* position: relative;
	top: -25px; */
	pointer-events: none;
	position: relative;
	top: calc( -10vh - 14px);

	box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);

}

.img{

	width: 30vh;
	height: 30vh;
	position: relative;
    z-index: 1;
    border-radius: 2px;

    overflow: hidden;
    background-size: cover;
    background-position: 50%;

    border-bottom: 10px solid $color-green;

}

.img_locked{

	border-bottom-color: $color-signal;

}

/* @media all and (orientation:landscape) {

	.img{

		width: 60vh;
		height: 60vh;

	}

}

@media all and (orientation:portrait) {

	.img{

		width: 60vw;
		height: 60vw;

	}

} */

.tip {

	position: relative;
	background: $color-green;

}

.tip:after {

	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-width: 20px;
	margin-left: -20px;
	border-top-color: $color-green;

}

.tip_locked{

	background: $color-signal;

}

.tip_locked:after{

	border-top-color: $color-signal;

}


/* .tip_tip {

	position: relative;
	background: $color-signal;
	top: 10px;

}

.tip_tip:after {

	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-top-color: $color-signal;
	border-width: 10px;
	margin-left: -10px;

} */

.cancel, .continue{

	top: auto;

    i{

    	font-weight: 800;

    }

}

.cancel{

	@extend %roundBtn;
	position: absolute;
	width: 46px;
	height: 46px;
	bottom: 20px;
	right: 75px;
	background-color: $color-signal;

}


.continue{

	@extend %roundBtn;
	position: absolute;
	width: 46px;
	height: 46px;
	bottom: 20px;
	right: 20px;
    background-color: $color-green;

}

.disabled{

	pointer-events: none !important;
	opacity: 0.5;

}

.toggle{

	position: absolute;
    bottom: 20px;
    right: 130px;
    width: 46px;
    height: 46px;
    box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.24);
    border-radius: 50%;
    overflow: hidden;

}


@media ( min-width: #{ $tablet } ) {

	.cancel, .continue{

	    width: 66px;
	    height: 66px;

	}

	.cancel{

		right: 100px;

	}

	.toggle{

		width: 66px;
		height: 66px;
		right: 180px;

	}

	/* .img{

		width: 300px;
		height: 300px;

	}

	.pointer{

		top: -125px;

	} */

}