@import 'app/styles/base';

.prompts{

	@extend %screenInit;

	h2{

		font-size: 2em;

	}

	@include min( $tablet ){

		h2{

			font-size: 2.5em !important;

		}

	}

}

.show{

	@extend %screenShow;

}


/* .logo{

	width: 220px;
	margin: 0 auto;
	display: block;
	position: relative;
	top: 15px;

}

.option{

	@extend %screenOption;
}

.toomany{

	position: absolute;
	bottom: $gutter-width;

}

.selecthelp{

	margin-bottom: 1em;

}

.header{

	margin-bottom: 0.3em;

} */

