@import 'app/styles/base';

%upload{

	display: none;

	&.show{

		display: block;

	}

	input{

		display: none;

	}


}

.noJazz{

	@extend %upload;
	text-align: center;

	.uploadBtn{

		@extend %labelBtn;
		margin-left: auto;
		margin-right: auto;
		
		button{

			width: 86px;
			height: 86px;

			i{

				font-size: 36px;

			}

		}

	}

}

.jazz{

	@extend %upload;
	pointer-events: none;

	.uploadBtn{

		@extend %roundBtn;
		pointer-events: all;
		position: absolute;
		top: $mobile-margin;
		right: $mobile-margin;
		display: none;

		&.show{

			position: fixed;
			display: block;


		}

	}

	.dropzone{

		width: 100%;
		height: 100%;
		background-color:  rgba(0, 88, 230, 0);
		transition: background-color 500ms;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 0;
		pointer-events: none;

	}

	.dropzoneActive{

		pointer-events: all;
		background-color:  rgba(0, 88, 230, 0.25);

	}

}

/* .dropzone{

	width: 100%;
	height: 100%;
	background-color:  rgba(0, 88, 230, 0);
	transition: background-color 500ms;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	pointer-events: none;

}

.dropzoneActive{

	pointer-events: all;
	background-color:  rgba(0, 88, 230, 0.25);

}

.hidden{

	display: none;

}

.uploadBtn{

	background: $color-primary;
    @extend %roundBtn;
    display: none;
	
}


.fixed{

	position: fixed;
	display: block;

} */



/* .rippler{

	width: 140px;
	height: 140px;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -70px 0 0 -70px;
	z-index: 1999;
	visibility: hidden;

}

.ripple{
	
	visibility: visible;
	animation-name: rippler;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;

}


@keyframes rippler {

	0% {
		transform: scale( 1 );
		// background-color: rgba( 140, 203, 247, 1 );
		background-color: rgba( 255,255,255, 0.6 );
	}

	100% {
		transform: scale( 30 );
		background-color: rgba( 255,255,255, 0 );
	}

} */