@import 'app/styles/base';

.dropzone{

	width: 100%;
	height: 100%;
	background-color:  rgba(0, 88, 230, 0);
	transition: background-color 500ms;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	pointer-events: none;

}

.dropzoneActive{

	pointer-events: all;
	background-color:  rgba(0, 88, 230, 0.25);

}

.hidden{

	display: none;

}

.uploadBtn{

	background: $color-primary;
    @extend %roundBtn;
	
}

/* .shareBtn{

	background-color: rgba( 255, 255, 255, 0.4 );
	color: $color-primary;
    @extend %roundBtn;
    top: auto;
    left: 20px;
    bottom: 20px;
    box-shadow: none;
	
} */

.fixed{

	position: fixed;

}

/* .legendBtn{

	position: absolute;
    bottom: 20px;
    right: 20px;
    height: 60px;
    z-index: 1;

} */


.rippler{

	width: 140px;
	height: 140px;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -70px 0 0 -70px;
	z-index: 1999;
	visibility: hidden;

}

.ripple{
	
	visibility: visible;
	animation-name: rippler;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;

}


@keyframes rippler {

	0% {
		transform: scale( 1 );
		// background-color: rgba( 140, 203, 247, 1 );
		background-color: rgba( 255,255,255, 0.6 );
	}

	100% {
		transform: scale( 30 );
		background-color: rgba( 255,255,255, 0 );
	}

}