@import '../../../app/styles/_base';
@import '../../../app/styles/_coastwards';


$padding: 10vh;

.signUp{

	@extend %corset;
	@extend %pad;

	color: $palette-blue-grey-500;
	padding-top: $padding;
	padding-bottom: $padding;

	h2{

		font-weight: $font-weight-thin;

	}

}