@import '../../../app/styles/_base';
@import '../../../app/styles/_coastwards';

.upload{

	width: 100%;
	height: $heightContent-moz;
	height: $heightContent-webkit;
	height: $heightContent;

}

.fill{

	@extend %fill;

}

.hide{

	display: none;

}

@media all and (orientation:landscape) {

	.feature{

		width: 60vh;
		height: 60vh;

		.image{

			min-height: 20vh;

		}

	}

}

@media all and (orientation:portrait) {

	.feature{

		width: 60vw;
		height: 60vw;

		.image{

			min-height: 20vw;

		}

	}

}

.feature{

	@extend %flexcontainer;
	flex-direction: column;
	overflow-y: scroll;
	color: $text-color;
	//margin-bottom: $layout-gutter-width-sm;

	.clear{

		float: right;

	}

	.image{

		@extend %flexitem;
		flex-grow: 1;
		width: 100%;
		overflow: hidden;
		background-size: cover;
		background-position: center;

	}

	.inner{

		@extend %flexitem;
		flex-grow: 0;
		width: 100%;
		padding: 5px;

		.comment{

			display: none;
			font-size: $font-size-small;
			border-top: 1px solid #f1f1f1;
			padding: 10px;

			&.show{

				display: block;

			}

		}

	}

}

.map{

	// font-family: $preferred-font;
	/* transition: width 300ms, height 300ms;
	transition-timing-function: ease-out;
	top: 0;
	left: 0; */

}

/* @media all and (orientation:landscape) {

	.moveMapOver{

		width: 60vw;
		height: 100%;

	}

}

@media all and (orientation:portrait) {

	.moveMapOver{

		height: 30%;
		width: 100%;

	}

} */

.uploadButton{

	position: absolute;
	top: 10px;
	right: 10px;

}

.blockUploadButton{

	display: none;

}

.passEventsToMap{

	pointer-events: none;

}

.dropzone[data-selector="dropzone"]{

	height: 100%;

}

.zone[data-selector="zone"]{

	opacity: 0;

}

.zoneEnter[data-selector="zone"]{

	opacity: 0.8;
	pointer-events: auto;

}

.zoneBlocked[data-selector="zone"]{

	//opacity: 0.6;
	pointer-events: auto;

}

.mapLoader{

	position: absolute;
	z-index: $z-index-high;

}

.hidden{

	display: none;
	
}

.status{

	display: block;

	.row{

		display: block;

		.label{

			font-weight: 600;

		}

		i{

			@extend %icon;

		}

	}

	.passed{

		color: green;

	}

	.error{

		color: red;

	}

}
