@import '../../../app/styles/_base';


$border-radius: 0.2rem;

%corners{

	border-top-left-radius: $border-radius;
	border-top-right-radius: $border-radius;

}

.dialog{

	@extend %dialog;
	&>[role="body"]{

		padding: 0;
		border-top-left-radius: $border-radius;
		border-top-right-radius: $border-radius;
		/* @extend %flexcontainer;
		flex-direction: column; */

	}

}

/* .content{

	@extend %flexitem;
	flex-grow: 2;
	flex-shrink: 1;
	overflow-y: auto;
	width: 100%;

}*/

.actions{

	/* @extend %flexitem;
	flex-grow: 0; */

	text-align: right;
	padding: $layout-gutter-width-sm;

	.btn{

		margin-left: $layout-gutter-width-sm;

	}

} 

.image{

	max-width: 100%;
	@extend %corners;

}

.inner{

	padding: $layout-gutter-width-sm;

	h3, h5{

		color: #212121;

	}

	h5{

		margin: $layout-gutter-width-sm 0;

	}

	.form{

		padding: $layout-gutter-width 0;

		div[data-react-toolbox="input"]{

			padding: 0;

			textarea{

				color: $color-primary;
				font-weight: 200;
				padding: 0;

			}

			span:last-child{

				top: 0;

			}

		}

	}

}

%icon{

	@extend %flexitem;
	flex-grow: 0;
	width: auto;
	cursor: pointer;

}

.options{

	margin-bottom: $layout-gutter-width;
	@extend %flexcontainer;
	flex-wrap: wrap;

}

.option{

	@extend %flexitem;
	border: 1px solid #fff;
	padding: 1rem;
	cursor: pointer;
	transition: background-color 300ms;
	width: 50%;
	flex-grow: 0;
	background-color: $color-primary;
	color: #fff;
	border-radius: 2px;

	@extend %flexcontainer;

	.iconRadio{

		@extend %icon;
		padding-right: 1rem;

	}

	.label{

		@extend %flexitem;
		flex-grow: 1;

	}


}


.option:hover, .active{

	color: rgba( 255, 255, 255, 1 );
	background-color: $color-primary-dark;

}