@import '../../../app/styles/_base';
@import './_styleBaseDialog';

.progress{

	padding: $layout-gutter-width;
	text-align: center;

	h4{

		margin-bottom: 1rem;

	}

}

.content{


}

.actions{

	text-align: right;
	padding: $layout-gutter-width-sm;
	position: relative;
    bottom: 0;
    z-index: 2;
    background-color: #fff;

}

.more{

	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	padding: 1rem;
	background-color: rgba(255, 255, 255, 1);
	z-index: 1;

}

h3, h5{

	color: #212121;

}

.form{

	padding: $layout-gutter-width 0;


	h5{

		margin: $layout-gutter-width-sm 0;
		line-height: 1.1;

	}

	div[data-react-toolbox="input"]{

		padding: 0;

		textarea{

			color: $color-primary;
			font-weight: 200;
			padding: 0;

		}

		span:last-child{

			top: 0;

		}

	}

}

.btn{

	margin-left: $layout-gutter-width-sm;

}