@import '../../../app/styles/_base';
@import '../../../app/styles/_coastwards';

.upload{

	width: 100%;
	height: 90vh;

}

.fill{

	position: absolute;
    width: 100%;
    height: 100%;

}

.map{

	// font-family: $preferred-font;

}

.noEvents{

	pointer-events: none;

}

.controls{

	display: none;
	position: absolute;
	bottom: $layout-gutter-width;
    left: $layout-gutter-width;

    button{

    	margin-right: $layout-gutter-width;

    }

}

.dropzone[data-selector="dropzone"]{

	height: 100%;

}

.zone[data-selector="zone"]{

	opacity: 0;

}

.zoneEnter[data-selector="zone"]{

	opacity: 0.8;
	pointer-events: auto;

}

.zoneBlocked[data-selector="zone"]{

	opacity: 0.6;
	pointer-events: auto;

}