@import '../../../app/styles/_base';
@import '../../../app/styles/_coastwards';

.screen{

	@extend %flexcontainer;
	text-align: center;
	background-color: rgba(0, 149, 255, 0.8);
	color: #fff;
	opacity: 0;
	pointer-events: none;
	transition: opacity $bg-fade-duration;

	p{

		font-size: 2.5rem;
		line-height: 1.2;
		padding: $layout-gutter-width;
		font-weight: 500;

	}

	[data-react-toolbox="button"]{

		//font-size: 2rem;
		line-height: 1.2;
		color: #fff !important;
		background: rgba(33, 33, 33, 0.1);

	}

	[data-react-toolbox="progress-bar"]{

		width: 60px;

	}

	div{

		@extend %flexitem;
		align-self: center;

	}

}

.active{

	opacity: 1;
	pointer-events: initial;

}
