@import '../../../app/styles/_base';

[data-react-toolbox="dialog"]{

	transform: translateY(-30vh);

}

.dialog[data-react-toolbox="dialog"]{

	height: 90vh;
	position: relative;
	bottom: 5vh;
	overflow: hidden;
	border-top-left-radius: 0;
	border-top-right-radius: 0;

	section[role="body"]{

		@extend %flexcontainer;
		flex-direction: column;
		padding: 0;

		.content{

			@extend %flexitem;
			width: 100%;
			flex-shrink: 1;
			overflow-y: scroll;

			.image{

				height: 35vh;
				width: 100%;
				overflow: hidden;
				background-size: cover;
				background-position: center;

			}

			.inner{

				padding: $layout-gutter-width-sm;
				color: $color-text;

				h2{

					margin-bottom: 1rem;
					font-size: 4rem;
					line-height: 4.3rem;

				}

				p{

					font-size: $font-size-normal;

				}

			}

		}

		.actions{

			@extend %flexitem;
			flex-grow: 0;
			width: 100%;
			padding: $layout-gutter-width-sm;
			text-align: right;
			box-shadow: 0 -2px 2px 0 rgba(0, 0, 0, $shadow-key-penumbra-opacity);

			.btn{

				margin-left: 1rem;

			}

		}

	}

}


@media all and (orientation:landscape) {

	.dialog[data-react-toolbox="dialog"]{

		width: 60vw;
    	max-width: 800px;

	}

}

@media all and (orientation:portrait) {

	.dialog[data-react-toolbox="dialog"]{

		width: 800px;
	    max-width: 96vw;

	}

}