@import '../../../app/styles/_base';

$border-radius: 0.2rem;

%corners{

	border-top-left-radius: $border-radius;
	border-top-right-radius: $border-radius;

}

.dialog{

	@extend %dialog;
	&>[role="body"]{

		padding: 0;
		border-top-left-radius: $border-radius;
		border-top-right-radius: $border-radius;
		/* @extend %flexcontainer;
		flex-direction: column; */

	}

}

/* .content{

	@extend %flexitem;
	flex-grow: 2;
	flex-shrink: 1;
	overflow-y: auto;
	width: 100%;

}*/

.actions{

	/* @extend %flexitem;
	flex-grow: 0; */

	text-align: right;
	padding: $layout-gutter-width-sm;

	.btn{

		margin-left: $layout-gutter-width-sm;

	}

} 

.image{

	max-width: 100%;
	@extend %corners;

}

.inner{

	padding: $layout-gutter-width-sm;

	h3{

		color: #212121;

	}

	.form{

		padding: $layout-gutter-width 0;

	}

}