@import '../../../app/styles/_base';


$border-radius: 0.2rem;

%corners{

	border-top-left-radius: $border-radius;
	border-top-right-radius: $border-radius;

}

.dialog{

	@extend %dialog;
	&>[role="body"]{

		padding: 0;
		border-top-left-radius: $border-radius;
		border-top-right-radius: $border-radius;
		/* @extend %flexcontainer;
		flex-direction: column; */

	}

}

.progress{

	padding: $layout-gutter-width;
	text-align: center;

	h4{

		margin-bottom: 1rem;

	}

	/* [data-react-toolbox="progress-bar"]{

		min-width: 300px;
		width: 100%;
		height: 60px;

	}
 */
	/* position: absolute;
	@extend %flexcontainer;
	height: 100%;
	width: 100%;
	text-align: center;
	background-color: rgba(0, 149, 255, 0.7);
	color: #fff;

	div{

		@extend %flexitem;
		align-self: center;

		[data-react-toolbox="progress-bar"]{

			width: 100%;
			margin: $layout-gutter-width;

		}

	} */

}

/* .content{

	@extend %flexitem;
	flex-grow: 2;
	flex-shrink: 1;
	overflow-y: auto;
	width: 100%;

}*/

.actions{

	/* @extend %flexitem;
	flex-grow: 0; */

	text-align: right;
	padding: $layout-gutter-width-sm;

	.btn{

		margin-left: $layout-gutter-width-sm;

	}

} 

.image{

	max-width: 100%;
	@extend %corners;

}

.inner{

	padding: $layout-gutter-width-sm;

	h3, h5{

		color: #212121;

	}

	h5{

		margin: $layout-gutter-width-sm 0;
		line-height: 1.1;

	}

	.form{

		padding: $layout-gutter-width 0;

		div[data-react-toolbox="input"]{

			padding: 0;

			textarea{

				color: $color-primary;
				font-weight: 200;
				padding: 0;

			}

			span:last-child{

				top: 0;

			}

		}

	}

}

.hidden{

	display: none;

}