@import '../../../app/styles/_base';
@import './_styleBaseDialog';

.dialog{

	&>[role="body"]{

		z-index: 3;
		overflow: hidden;
		height: 100%;

	}

}

.progress{

	padding: $layout-gutter-width;
	text-align: center;

	h4{

		margin-bottom: 1rem;

	}

}

h3, h5{

	color: #212121;

}

.form{

	padding: $layout-gutter-width 0;


	h5{

		margin: $layout-gutter-width-sm 0;
		line-height: 1.1;

	}

	div[data-react-toolbox="input"]{

		padding: 0;

		textarea{

			color: $color-primary;
			font-weight: 200;
			padding: 0;

		}

		span:last-child{

			top: 0;

		}

	}

}

.btn{

	margin-left: $layout-gutter-width-sm;

}

.content{

	overflow-y: scroll;
	height: 100%;

}

.actions{

	text-align: right;
	padding: $layout-gutter-width-sm;

}

.more{

	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;
	background-color: #fff;
	z-index: 1;
	height: 30px;
	box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.14);

	.icon{

		position: relative;
		top: -25px;

	}

}

.hideMore{

	display: none;

}