@import '../../../app/styles/_base';
@import '../../../app/styles/_coastwards';

.upload{

	width: 100%;
	height: $heightContent-moz;
	height: $heightContent-webkit;
	height: $heightContent;

}

.fill{

	position: absolute;
    width: 100%;
    height: 100%;
    left: 0;

}

.map{

	// font-family: $preferred-font;
	transition: width 300ms, height 300ms;
	top: 0;
	left: 0;

}

@media all and (orientation:landscape) {

	.moveOver{

		width: 50vw;
		height: 100%;

	}

}

@media all and (orientation:portrait) {

	.moveOver{

		height: 50vh;
		width: 100%;

	}

}

.uploadButton{

	position: absolute;
	top: 10px;
	right: 10px;

}

.blockUploadButton{

	display: none;

}

.passEventsToMap{

	pointer-events: none;

}

.dropzone[data-selector="dropzone"]{

	height: 100%;

}

.zone[data-selector="zone"]{

	opacity: 0;

}

.zoneEnter[data-selector="zone"]{

	opacity: 0.8;
	pointer-events: auto;

}

.zoneBlocked[data-selector="zone"]{

	//opacity: 0.6;
	pointer-events: auto;

}

.mapLoader{

	position: absolute;
	z-index: $z-index-high;

}

.hidden{

	display: none;
	
}

.status{

	display: block;

	.row{

		display: block;

		.label{

			font-weight: 600;

		}

		i{

			@extend %icon;

		}

	}

	.passed{

		color: green;

	}

	.error{

		color: red;

	}

}
