@import '../../../app/styles/_base';


.option{

	@extend %flexitem;
	padding: 0 1rem 2rem 0;
	cursor: pointer;
	transition: color 300ms;
	width: 150px;
	flex-grow: 0;

	@extend %flexcontainer;


}

.option:hover, .selected{

	color: $color-primary-dark;

}

.iconRadio{

	@extend %flexitem;
	flex-grow: 0;
	width: auto;
	cursor: pointer;
	padding-right: 1rem;

}

.label{

	@extend %flexitem;
	flex-grow: 1;

}