@import '../../../app/styles/_base';
@import './_styleBaseDialog';


.comment{

	font-size: $font-size-big;
	color: $color-primary-dark;

}

.grid{

	margin-top: $layout-gutter-width-sm;
	
	/* @extend %flexcontainer;
	flex-wrap: wrap; */

}

.g0{

	margin-bottom: 1rem;

	/* @extend %flexitem;
	flex-grow: 0;
	padding: 1rem;
	width: auto; */

}

.icon{

	@extend %icon;
	margin-right: 1rem;

}
