@import '~react-toolbox/lib/base';
@import '../../../app/styles/_base'; 


$bg: $color-accent-dark;


.info{

	background-color: $bg;
	height: $heightInfo;
	@include shadow-2dp();
	position: relative;
	z-index: 1;

}

.tabButton{

	width: 100%;
	height: 100%;
	padding: 0 $layout-gutter-width;
	border-radius: 0;
	font-weight: 900;
	/* text-shadow: $zdepth-shadow-1; */

}

.open{

	height: auto;

}

.active{

	background-color: #AF2C2C;

}
