@import '~react-toolbox/lib/base';
@import '../../../app/styles/_base'; 


$bg: $color-primary-dark;


.info{

	background-color: $bg;

}

%tab{

	/* border-top: 1px solid $palette-grey-200; */
	/* border-bottom: 2px solid $bg; */
	flex-grow: 1 !important;
	background-color: $bg;
	/* border-right: 1px solid $color-primary;
	border-bottom: 1px solid $color-primary; */


	@include typo-button();

}

.how{

	@extend %tab;

}

.guidelines{

	@extend %tab;

}

.team{

	@extend %tab;

}

.faqs{

	@extend %tab;

}

.tabButton{

	padding: 5vh;
	width: 100%;
	height: auto;

}

.drawer{

	height: 0;
	transition-property: height;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    transition-delay: 0;
    background-color: $bg;

	.content{

		opacity: 0;

	}

}

.open{

	height: auto;

}

