.iconradio{

    display: inline-block;
    margin-top: 0.5em;

	span{

		white-space: nowrap;

	}

}

html[dir="ltr"]{

	.iconradio{

		margin-right: 1em;

	}

}

html[dir="rtl"]{

	.iconradio{

		margin-left: 1em;

	}

}