@mixin media($queryString){
		@media #{$queryString} {
			@content;
		}
}

@mixin placeholder-color($color, $opacity){
	input, textarea{
		&::-webkit-input-placeholder {
				color:    #{$color};
				opacity:  $opacity + 0.3;
				text-overflow:ellipsis;
		}
		&:-moz-placeholder {
				color:    #{$color};
				opacity:  $opacity;
				text-overflow:ellipsis;
		}
		&::-moz-placeholder {
				color:    #{$color};
				opacity:  $opacity;
				text-overflow:ellipsis;
		}
		&:-ms-input-placeholder {
				color:    #{$color};
				$opacity-ie: $opacity * 100;
				filter: alpha(opacity=$opacity-ie);
				text-overflow:ellipsis;
		}
		&:placeholder-shown {
				color:    $color;
				opacity:  $opacity;
				text-overflow:ellipsis;
		}

		&:focus::-webkit-input-placeholder {color: transparent}
		&:focus::-moz-placeholder          {color: transparent}
		&:focus:-moz-placeholder           {color: transparent}
		&:focus:-ms-input-placeholder      {color: transparent}
	}

	.placeholder {
			color:    #{$color};
			@include opacity($opacity);
	}
}

@mixin vertical-align($position: relative) {
	position: $position;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}



