@import '~react-toolbox/lib/base';
@import '../../../app/styles/_base';



.intro{

	height: $heightIntro;
	box-sizing: border-box;
	text-align: center;
	color: $color-primary;

	img{

		max-width: 30vw;
    	width: 50vw;

	}

	h1{

		font-weight: $font-weight-thin;
		font-size: 6vh;
		margin-top: 3vh;

	}

	&>div{

		align-self: center;
		margin-top: 5vh;

	}

}

.down{

	margin-top: 6vh;
	@include IconButtonSize( 4.8rem );

}

.tagline{

	margin-top: 4vh;
	@include typo-headline( );
	font-size: 2vh;
	color: $palette-grey-500;

}