@import '~react-toolbox/lib/base';
@import '../../../app/styles/_base';



.intro{

	min-height: 88vh;
	/*padding: $layout-gutter-width 0;*/
	box-sizing: border-box;
	text-align: center;
	color: $palette-blue-grey-500;
	/*color: #383838;*/

	/*background-image: url('./shoreline.jpg');
	background-repeat: no-repeat;
	background-size: cover;*/

	&>div{

		align-self: center;
		/*margin-bottom: 10vh;*/

	}

	p{

		margin-top: 10vh;
		@include typo-headline( );
		color: $palette-grey-500;

	}

}

@include StMD(){

	.intro{

		h1{

			font-size: 3.2rem;

		}

	}

}