@import '../../../app/styles/_base';
@import '../../../app/styles/_coastwards';

.intro{

	@extend %flexcontainer;
	height: $heightIntro;
	box-sizing: border-box;
	text-align: center;
	color: $color-primary-dark;

}

@include GtSM( ){

	.intro{

		position: relative;
		top: -36px;

	}

}

.inner{

	@extend %flexitem;
	@extend %corset;
	@extend %pad;
	align-self: center;
	margin-top: 5vh;
	margin-bottom: 5vh;
	max-width: 1200px;

}

.logo{

	max-width: 250px;
	min-width: 200px;
    width: 30vw;
    margin-top: 20px;

}


.headline{

	font-size: 28px;
	margin-top: 3vh;
	color: $color-primary-dark;

}

@include GtMD( ){

	.headline{

		font-size: 38px;

	}

}

.tagline{

	margin-top: 4vh;
	@include typo-headline();
	font-size: 2.5vh;
	color: $palette-grey-700;
	line-height: 2rem;

}

@include LtSM( ){

	.tagline{

		font-size: 12px;
		margin-top: 2vh;

	}

}

.down{

	margin-top: 6vh;
	@include IconButtonSize( 4.8rem );

}