@import '../../../app/styles/_base';
@import '../../../app/styles/_coastwards';

$fade: $bg-fade-duration / 2;

.sheet{

	@extend %flexcontainer;
	flex-direction: column-reverse;

	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: background-color $fade;
	background-color: rgba(0, 149, 255, 0);
	pointer-events: none;
	overflow: hidden;

	color: $color-text;

}

.active{

	background-color: rgba(0, 149, 255, 0.3);
	pointer-events: all; 

}

.paper{

	@extend %flexitem;
	/* align-self: center;
	flex-grow: 1; */
	max-height: 80%;
	flex-grow: 0;
	width: 90vh;
	max-width: 96vw;
	background-color: #fff;
	position: relative;
	bottom: -80%;
	transition: bottom 400ms;
	transition-timing-function: ease-out;

	@include shadow-16dp();
	border-radius: 3px 3px 0 0;
	overflow: hidden;
	overflow-y: scroll;

	margin: 0 auto;

}

.show{

	bottom: 0;

}

