@import '../../../app/styles/_base';
@import '../../../app/styles/_coastwards';

$fade: $bg-fade-duration / 2;

.sheet{

	@extend %flexcontainer;
	flex-direction: column-reverse;
	align-items: center;

	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: background-color $fade;
	background-color: rgba(0, 0, 0, 0);
	pointer-events: none;
	overflow: hidden;

	color: $color-text;

}

.active{

	/* background-color: rgba(0, 0, 0, 0.6);
	pointer-events: all; */

}

.paper{

	@extend %flexitem;
	flex-grow: 0;
	position: relative;

	background-color: #fff;

	transition: bottom 300ms;
	transition-timing-function: ease-out;

	@include shadow-16dp();
	overflow: hidden;
	overflow-y: scroll;
	pointer-events: all;

	width: 40vh;
	height: 40vh;
	bottom: -45vh;

}

.show{

	bottom: 0;

}

/* @media all and (orientation:landscape) {

	.paper{

		width: 40vw;
		height: 100%;
		right: -45vw;
		top: 0;

	}

	.show{

		right: 0;

	}

}

@media all and (orientation:portrait) {

	.paper{

		width: 100%;
		height: 70%;
		right: 0;
		bottom: -75%;

	}

	.show{

		bottom: 0;

	}

} */

