//$color-primary: $palette-blue-grey-500 !default;
$color-primary: rgb(89, 148, 189) !default;
//$color-primary-dark: $palette-blue-grey-700 !default;
$color-primary-dark: rgb(80, 131, 167) !default;

/*$color-primary-dark: rgb(38, 46, 93);*/

$color-accent: $palette-red-500 !default;
$color-accent-dark: $palette-red-700 !default;
$color-primary-contrast: $color-dark-contrast !default;
$color-accent-contrast: $color-dark-contrast !default;

/* $button-primary-color-hover: rgba($palette-grey-300, .2) !default;
$button-accent-color-hover: rgba($palette-grey-300, .2) !default;

$ripple-duration: 800ms !default;
$ripple-final-opacity: .3 !default; */
/* $ripple-size: 15 * $unit !default; */  