@import 'app/styles/reset';
@import 'app/styles/tags';
@import 'app/styles/base';


.info{

	padding-right: $site-padding-sides;
	padding-left: $site-padding-sides;

}

.i18n{

	text-align: center;
	padding-top: $site-padding-top;

}

