@import 'app/styles/reset';
@import 'app/styles/tags';
//base is already imported in tags


.top{

	@extend %pad;

}

.i18n{

	@extend %corset;
	margin-top: $site-padding-top; // DO NOT DELETE EIIIIIIGHHHHH?????????
	display: none;

}

@media ( min-width: #{ $column-width } ) {

  .i18n{

  	display: block;

  }

}

.intro{

	@extend %corset;
	margin-top: $site-padding-inner;

}

.introJazz{

	margin-top: 0;
	padding-top: 10vh;
	padding-bottom: 10vh;
	min-height: 100vh;
	@extend %flexcontainer;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	text-align: center;

}

.info{

	@extend %corset;
	margin-top: $site-padding-top;

}

.infoJazz{

	margin-top: 0;
	padding-top: 10vh;
	padding-bottom: 10vh;
	min-height: 100vh;
	@extend %flexcontainer;
	justify-content: top;
	flex-direction: column;

}

.noupload{

	@extend %pad;
	padding-bottom: $site-padding-bottom;

}