@import 'app/styles/reset';
@import 'app/styles/tags';

$padding: 5vh 5vh 10vh 5vh;

%logo{

    width: 150px;

}

.login{

    padding: $padding;

}

.admin{

    @extend %flexcontainer;
    height: 100vh;

    .drawer{

        @extend %flexitem;
        flex-grow: 0;
        flex-basis: 30vw;
        height: 100vh;
        overflow-y: scroll;
        padding: $padding;
        //text-align: center;

        .logo{

            @extend %logo;
            width: 90px;

        }

        .form{

            //text-align: left;

        }

        @include max( $desktop ){

            display: none;

        }

        .more{

            margin-top: 0.5em;
            margin-bottom: 2em;

        }

        .ul{

            list-style-type: decimal;
            margin: 1em;
            
        }

        .help{

            font-size: 1em;
            vertical-align: text-top;
            //cursor: help;

        }

        .download{

            width: 100%;
            font-size: 1.2em;
            background-color: $color-signal;
            margin-top: 2em;

        }

    }

    .mapbox{

        @extend %flexitem;
        flex-grow: 3;
        //width: 1000px;
        height: 100%;

        @include max( $desktop ){

            display: none;

        }

    }

    .desktop{

        @extend %flexitem;
        align-self: center;
        text-align: center;
        padding: $padding;
        width: 100%;
        display: none;

        .logo{

            @extend %logo;
            margin-bottom: 2em;

        }

        @include max( $desktop ){

            display: block;

        }

    }

}

/* .toolbar{

	position: fixed;
	bottom: 0;
    z-index: 2;
    padding: 1em;
    width: 100%;
    background-color: $color-primary;
    color: #fff;

	.link{

		color: #fff;

	}

    .logger{

        float: right;

    }

    .toggle{

        float: left;

    }

}

.corset{

    @extend %show;
	width: 100%;
	min-height: 100vh;
	padding: 5vh 5vh 10vh 5vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.9);

    &.hide{

        @extend %hide;

    }


    .form{

    	margin: 2em 0;

    	&>button{

    		margin-top: 2em;
    		padding: 0.7em 1em;
    		font-size: 1.2em;

    	}

    	.noresults{

    		margin-top: 2em;

    	}

    	&>label{

    		display: block;
    		margin-bottom: 1em;

    	}

    	.toggle{

    		@extend %toggle;
    		//border-bottom: $toggle-border;
    		max-width: none;

    	}

    }

}

.mapbox{

	height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;

} */
