@import 'app/styles/base';

$action-height: 45px;

%action{

	margin-right: 0.5em;

}

.popup{

	@extend %flexcontainer;
	flex-direction: column;
	align-items: center;
    justify-content: center;
	max-width: 600px;
	max-height: 600px;
	padding-bottom: $action-height;
	width: 80vh;
	height: 80vh;
	font-size: 16px;

	.spinner{

		@extend %spinner;

	}

	.bar{

		position: absolute;
		width: 100%;
		top: 0;
		left: 0;
		background: linear-gradient(to bottom, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%);
		padding: 10px 10px 20px 10px;
		direction: ltr;
		text-align: right;

		a{

			color: #fff;

		}

	}

	.top{

		background-size: cover;
		background-position: center;
		height: 100%;
		width: 100%;
		min-height: 20vh;
	}

	.form{

		overflow-y: scroll;
		width: 100%;
		padding: 1vh;

		label{

			margin: 0;

			&>span{

				display: inline-block;
				margin-right: 1em;
				width: 140px;

			}

			div{

				display: inline-block;

			}

		}

	}

	.actions{

		@extend %flexcontainer;
		flex-direction: row;
		justify-content: flex-end;
		position: absolute;
		bottom: 0;
		left: 0;
		background-color: #fff;
		width: 100%;
	    padding: 1vh;
	    border-top: 1px solid #e1e1e1;
	    box-shadow: 0 19px 60px rgba(0,0,0,.3),0 15px 20px rgba(0,0,0,.22);

	    .delete{

	    	background-color: $color-signal;
	    	margin-right: 1em;

	    }

	    button{

	    	@extend %flexitem;
	    	flex-grow: 0;
	    	padding: 1em 2em;
	    	//width: 28vh;

	    }

	}

}