@import '../../../app/styles/_base';
@import '../../../app/styles/_coastwards';

.app{

	
}

.sticky{

	position: relative;
	z-index: $z-index-high;

}

.content{

	position: relative;
	z-index: $z-index-normal;
	background: $color-primary-dark;
    color: #fff;

}

.hide{

	display: none;

}

.show{

	display: block;

}