@import '../../../app/styles/_base';


//################################################################## CONTEXTLOADER

.contextLoader{

	position: fixed;
	top: 0;
	z-index: $z-index-highest;

}


//################################################################## SNACKBAR

.snackbar{

	right: 33%;
	left: 33%;
	border-radius: 0.2rem 0.2rem 0 0;

}

.dialog{

	&>[role="body"]{

		color: $palette-grey-700;

	}

}


@include XXS{

	.snackbar{

		right: 0;
		left: 0;
		border-radius: 0;

	}

}

@include XS{

	.snackbar{

		right: 10%;
		left: 10%;

	}

}

@include SM{

	.snackbar{

		right: 20%;
		left: 20%;

	}

}

@include MD{

	.snackbar{

		right: 25%;
		left: 25%;

	}

}

@include LG{

	.snackbar{

		right: 30%;
		left: 30%;

	}

}