@import 'app/styles/base';

.toggle{

	@extend %toggle;
	border-top: $toggle-border;

}

.status{

	margin-top: 2em;
	height: 20px;

}

.submit{

	border-radius: 2px;

}

.submitJazz{

	background-color: #fff;
	color: $color-primary;
	border-radius: 2px;

}