@import 'app/styles/base';

.toggle{

	@extend %toggle;
	border-top: 1px solid rgba(255, 255, 255, 0.2);

}

.guideline{

	@extend %flexcontainer;
	align-items: flex-start;
	flex-direction: row;

	img{

		width: 100px;
		margin-right: 2em;
		@extend %flexitem;
		flex-grow: 0;

	}

	h4{

		text-transform: uppercase;
		margin-top: 0;

		span{

			display: none;

		}

	}

	margin: 2em 0;

}