@import 'app/styles/base';

.toggle{

	@extend %toggle;
	//border-top: $toggle-border;

}

.guidelines{

	@extend %flexcontainer;
	flex-wrap: wrap;
	margin: 2em 0 0 0;

}

.guideline{

	@extend %flexitem;
	width: 240px;
	max-width: 100%;
	min-width: 31%;
	margin: 10px;
	text-align: center;
	padding: 20px;

	img{

		max-width: 150px;
		display: block;
		margin: 0 auto;

	}

	div{

		max-width: 300px;
		margin: 0 auto;

		h4{

			margin-bottom: 0.3em;

		}

	}

}