@import 'app/styles/base';

.how{

	@extend %corset;
	width: 100%;
	margin: 3vh 0;

	p{

		padding: 0 0 1em 0;

	}

}

.videoWrapper{

	@extend %videoWrapper;

}

.toggle{

	@extend %toggle;

}

.toggleScript{

	margin: 0.5em 0 2em 0;

}

.script{

	margin-bottom: 2em;

}

.video { 

	position: relative; 
	padding-bottom: 56.25%; 
	height: 0; 
	overflow: hidden; 
	max-height: 90vh;

	background-size: cover;
    background-position: 50%;
    border-radius: 3px;
    width: 100%;

    &>iframe, &>object, &>embed { 
    	
    	position: absolute; 
    	top: 0;
    	left: 0; 
    	width: 100%; 
    	height: 100%; 

    }

} 

.transcript{

	margin-top: 0.5em;
	margin-bottom: 2em;

	h5{

		font-weight: 400;
		margin-bottom: 1em;

	}
	
}