@import 'app/styles/base';

%logos{

	text-align: center;
	margin-top: 2em;

	p{

		margin-bottom: 1em;

	}

	a{

		img{

			width: 100px;
			margin: 0 3%;
			max-width: 26%;

		}

	}

}

.noJazz{

	@extend %logos;

}

.jazz{

	@extend %logos;

}

/* 
.logos{

	@extend %flexcontainer;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;

	@include portrait(){

		padding: 10vw 5vw;

	}

	@include landscape(){

		padding: 10vh 5vw;

	}

	.box{

		@extend %corset;
		@extend %flexcontainer;
		justify-content: flex-end;
		

		.links{

			@extend %flexcontainer;
			justify-content: space-between;
			width: 380px;

			img{

				width: 100px;

			}

		}

	}


} */