@import 'app/styles/base';


.logos{

	//text-align: center;
	width: 100%;
	margin-top: 1em;
	margin-bottom: 1em;

	img{

		width: 24%;
		max-width: 100px;
		margin: 2% 4% 0 0;

	}

	/* @media ( min-width: #{ $minitablet } ) {

		img{

			width: 100px;
			margin: 2em 2em 0 2em;

		}

	}

	@media ( min-width: #{ $tablet } ) {

		img{

			width: 150px;
			margin: 2em 2em 0 2em;

		}

	} */

	//padding-bottom: 7em;

}