@import 'app/styles/base';

%team{

	h3{

		@extend %sectionHeader;

	}

	.thanks{

		margin-top: 1em;

	}

	.imprint{

		display: inline-block;
		margin-top: 0.5em;

	}

}

.noJazz{

	@extend %team;

}

.jazz{

	@extend %team;
	@extend %mobile-padding;

}