@import 'app/styles/base';

%team{

	h3{

		@extend %sectionHeader;

	}

	.thanks{

		margin-top: 1em;

	}

}

.noJazz{

	@extend %team;

}

.jazz{

	@extend %team;
	@extend %mobile-padding;

}



.team{

	@extend %flexcontainer;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	//background-color: #efefe9;
	
	@include portrait(){

		padding: 10vw 5vw 0;

	}

	@include landscape(){

		padding: 10vh 5vw 0;

	}

	.box{

		max-width: $corset-width;

		h3{

			font-size: 3em;
			color: $color-primary;
			margin: 0 0 0.3em 0;
			line-height: 1.2em;
			font-weight: 200;

		}

		.intro{

			font-size: 1.2em;

		}

	}

	.read{

		border: 2px solid #0076b7;
		padding: 0.5em 2em;
		border-radius: 2px;
		display: inline-block;
		font-size: 1.5em;
		margin: 1.5em 0;
		text-align: center;

	}

}


.toggle{

	@extend %toggle;
	border-top: $toggle-border;

}

.person{

	overflow: hidden;
	zoom: 1;
	margin: 2em 0;

	img{

		width: 100px;
		float: left;
		margin: 0 1em 1em 0;
		//border-radius: 50%;
		//border: 1px solid #ddd;
		//box-shadow: 0 1px 1.5px 0 rgba(0,0,0,.12),0 1px 1px 0 rgba(0,0,0,.24);

	}

	h4{

		margin-top: 0;

	}

}