select{

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 2em;
	color: inherit;
	border: 2px solid rgba(0,0,0,.4);
	outline-style: none;
	box-shadow: none;
	display: block;
	font-size: inherit;
	line-height: 1.42857143;
	background-color: #ffffff;
	background-image: none;
	border-radius: 4.8px;
	margin-top: 4px;

}

.dropzone{

	button{

		margin-bottom: 20px;

	}

	.dropzoneFile{

		border-top: 8px solid #fff;
    	border-bottom: 8px solid #fff;
    	text-align:	left;
    	background-repeat: no-repeat;
    	background-position: left center;
    	background-size: 300px;
    	height: 232px;

    	ul{

    		margin: 0 0 0 300px;
    		padding: 0;
    		background-color: white

    	}

	}

}

html.fallback .dropzone{

	.mdl-list__item-secondary-content{

		float: right;
		position: relative;
		top: -30px;

	}

}

/*.mdl-list__item-secondary-content{

    			float: right;
    			position: relative;
    			top: -30px;

    		}*/

/*.dropper{

	width: 100%;
	height: 100%;
	background: #000;
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none;
	z-index: 1999;
	@include opacity( 0 );
	transition-property: all;
	transition-duration: 0.4s;
	transition-timing-function: ease-out;
	text-align: center;
	overflow: hidden;

	i{

		position: relative;
		top: 50%;
		font-size: 140px;
		color: #fff;
		margin-top: -70px;
		pointer-events: none;
		visibility: hidden;

	}

}

.dropper.is-drag-active{

	@include opacity( 0.3 );
	pointer-events: initial;

	i{ 

		visibility: visible;

	}

}

.rippler{

	width: 140px;
	height: 140px;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -70px 0 0 -70px;
	z-index: 1999;
	visibility: hidden;

}

.rippler.ripple{
	
	visibility: visible;
	animation: rippler 1s 1;

}



@keyframes rippler {

	0% {
		transform: scale( 1 );
		background-color: rgba( 255,255,255, 0.3 );
	}

	100% {
		transform: scale( 30 );
		background-color: rgba( 255,255,255, 0 );
	}

}*/














