@import 'app/styles/base';


.pp{
	font-family: 'Roboto', Helvetica, sans-serif;
	padding: 15px;
	padding-bottom: 70px;
}

h1{
	margin-top: 0;
}

p{
	    margin: 1em 0;
}

ul{
	margin: 0 0 0 1em;
	list-style: disc;
}