@import 'app/styles/base';

.dialog{

	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: $overlay-color;
	z-index: 300;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;

	&>div{

		@extend %corset;
		padding: 5% 1em 10% 1em;

		&>a{

			display: inline-block;
    		float: right;
    		margin-bottom: 1em;
    		font-size: 1.5em;

		}

		&>div{

			clear: both;

		}

	}

	h2{

		font-family: "Roboto Slab";
		font-size: 2em;

	}

}

/* .close{

	display: block;
	text-align: right;
	margin-bottom: 1em;

	i{

		font-size: 36px;

	}

}

.body{

	@extend %corset;
	margin-top: $site-padding-top;
    margin-bottom: $site-padding-bottom;
    padding: 15px;

}

.scroll{

    &>*:first-child{

    	margin-top: 0;
    	padding-top: 0;

    }

} */