@import 'app/styles/base';

.dialog{

	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	background-color: $overlay-color;
	padding: 56px 56px 56px 46px;
	//padding: 2em;
	z-index: 300;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;

	p{

		margin: 0.5em 0;

	}

}

.close{

	position: fixed;
	top: 20px;
	right: 15px;
	/* width: 100%;
    text-align: right;
    display: block; */

	i{

		font-size: 36px;

	}

}

.body{

	@extend %corset;

}