@import 'app/styles/base';

.dialog{

	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: $overlay-color;
	z-index: 300;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;

	p{

		margin: 0.5em 0;

	}

}

.close{

	display: block;
	text-align: right;
	margin-bottom: 1em;
    /* z-index: 1;
    position: absolute;
    top: 10px;
    right: 10px; */

	i{

		font-size: 36px;

	}

}

.body{

	@extend %corset;
	margin-top: $site-padding-top;
    margin-bottom: $site-padding-bottom;
    padding: 15px;

	/* @extend %corset;
	height: 100%;
    position: relative; */

}

.scroll{

	/* position: absolute;
    top: 0;
    height: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    padding: 56px 56px 56px 20px;
    left: 0;
*/

    &>*:first-child{

    	margin-top: 0;
    	padding-top: 0;

    }

}