@import 'app/styles/base';

.snackbar{

	position: fixed;
	width: 100%;
	bottom: 0;
	z-index: 300;

	p{

		width: 600px;
		max-width: 90%;
		margin: 0 auto;
		background: #000;
		color: #fff;
		padding: 1em;
		text-align: center;

	}

}