@import 'app/styles/base';

.snackbar{

	position: fixed;
	width: 100%;
	z-index: 300;
	bottom: 0;
	text-align: center;

	p{

		display: inline-block;
		max-width: 90%;
		background: #000;
		color: #fff;
		padding: 1em 2em;
		position: relative;
		border-radius: 2px 2px 0 0;

	}

}

.enter{

	bottom: -50px;

}

.enterActive{

	bottom: 0;
	transition: bottom 300ms;

}

.leave{

	bottom: 0;

}

.leaveActive{

	bottom: -50px;
	transition: bottom 300ms;

}