@import 'app/styles/base';

.toggle{

	width: 100%;
	max-width: $corset-width;

	&>div{

		margin: 1em 0 3em 0;

		p{

			padding: 0 0 1em 0;

		}

	}

}

.anchor{

	display: block;

	h1,h2,h3,h4,h5,h6{

		@extend %flexcontainer;
		margin: 0;

		span{

			@extend %flexitem;
			flex-grow: 0;
			max-width: calc( 100% - 2em);
			line-height: 24px;

		}

		.icon{

			@extend %flexitem;
			flex-grow: 0;
			width: auto;
			vertical-align: middle;

		}

	}
	
}