@import '~react-toolbox/lib/base';
@import '../../../app/styles/_base'; 


.tabcontainer{

	@extend %flexcontainer;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: flex-start;
	overflow: hidden;
	height: 100%;
	background-color: inherit;

}

.tabitem{

	@extend %flexitem;
	flex-grow: 1;
	align-self: center;
	align-items: center;
	text-align: center;
	height: 100%;
	background-color: inherit;

	&.control{

		@extend %flexcontainer;
		flex-grow: 0;
		flex-shrink: 1;
		width: 60px;
		background-color: inherit;

		button{

			margin: 0 auto;

		}

	}

	&.hide{

		visibility: hidden;

	}

	&.content{

		&.center{

			justify-content: center;

		}

		flex-grow: 2;
		overflow-x: scroll;
		overflow-y: hidden;
		-webkit-overflow-scrolling: touch;
		align-self: center;
		align-items: stretch;

		.tabitem{

			flex-grow: 0;
			width: auto;

		}

	}

}

/* @include StMD {

	.tabitem{

		&.content{

			.tabitem{

				width: 100%;

			}

		}

	}

} */
