@import '~react-toolbox/lib/base';
@import '../../../app/styles/_base'; 


.tabcontainer{

	@extend %flexcontainer;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: flex-start;
	overflow: hidden;
	@include no-webkit-scrollbar();

}

.tabitem{

	@extend %flexitem;
	flex-grow: 1;
	align-self: center;

	&.control{

		flex-grow: 0;
		flex-shrink: 1;
		width: 24px;
		color: $color-accent;
		width: 60px;
		text-align: center;

	}

	&.hide{

		visibility: hidden;

	}

	&.content{

		&.center{

			justify-content: center;

		}

		flex-grow: 2;
		overflow-x: scroll;
		overflow-y: hidden;
		-webkit-overflow-scrolling: touch;
		align-self: center;
		align-items: stretch;

		.tabitem{

			flex-grow: 0;
			width: auto;

		}

	}

}
