<!doctype html>
<html lang="en" dir="ltr" class="no-js">
<head>
		<meta charset="UTF-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge" />
		<title><%= htmlWebpackPlugin.options.title %></title>
		<meta name="description" content="Help science study the risks of sea-level rise by uploading pictures of coasts" />
		<meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width,minimal-ui" />
		<meta name="apple-mobile-web-app-title" content="COASTWARDS" />
		<meta name="apple-mobile-web-app-capabl" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="HandheldFriendly" content="True" />
		<meta http-equiv="cleartype" content="on" />

		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" type="text/css" />
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700", type="text/css" />
		<link rel="stylesheet" href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.18.0/mapbox-gl.css", type="text/css" />
	    <% for (var css in htmlWebpackPlugin.options.files.css) { %>
	    <link href="<%= htmlWebpackPlugin.options.files.css[css] %>" rel="stylesheet">
	    <% } %>
	    <!--[if IE]>
	    <script src="//cdnjs.cloudflare.com/ajax/libs/es5-shim/4.2.0/es5-shim.min.js"></script><script src="//cdnjs.cloudflare.com/ajax/libs/classlist/2014.01.31/classList.min.js"></script><script src="//cdnjs.cloudflare.com/ajax/libs/selectivizr/1.0.2/selectivizr-min.js"></script><![endif]
	    -->
	    <style type="text/css">
	    	.frameworkAlert {
				text-align: center;
				margin: 50px;
				color: #333;
			}
			.frameworkAlert img{
				max-width: 100%;
			}
			body{
				overflow-y: auto !important;
			}
	    </style>
	    <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
		<script src="<%=htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
		<% } %>
</head>
<body>
		<!--[if lt IE 9]>
		<div class="frameworkAlert">
			<img src="./assets/coastwards.png">
			<h4> You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</h4>
		</div>
		<![endif]-->
		<noscript>
		<div class="frameworkAlert">
			<img src="./assets/coastwards.png" />
			<h4>You have javascript disabled in your browser. To view this site, please enable javascript.</h4>
		</div>
		</noscript>
		<div id="body"/>
</body>
</html>