html(lang="en", dir="ltr", class="no-js")
	head
		meta(charset="utf-8")
		meta(http-equiv="x-ua-compatible", content="ie=edge")
		title="COASTWARDS"
		
		meta(name="description", content="Help science study the risks of sea-level rise by uploading pictures of coasts")
		meta(name="viewport", content="initial-scale=1.0,width=device-width")

		link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons", type="text/css")
		link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700", type="text/css")
		link(rel="stylesheet", href="./build/styles.css", type="text/css")

		<!--[if IE]>
		script(src="//cdnjs.cloudflare.com/ajax/libs/es5-shim/4.2.0/es5-shim.min.js")
		script(src="//cdnjs.cloudflare.com/ajax/libs/classlist/2014.01.31/classList.min.js")
		script(src="//cdnjs.cloudflare.com/ajax/libs/selectivizr/1.0.2/selectivizr-min.js")
		<![endif]-->
		style.
			.frameworkAlert {
				text-align: center;
				margin: 50px;
				color: #333;
			}
			.frameworkAlert img{
				max-width: 100%;
			}
			body{
				overflow-y: auto !important;
			}
	body
		<!--[if lt IE 9]>
		div(class="frameworkAlert")
			img(src="./assets/coastwards.png")
			h4 You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
		<![endif]-->
		noscript
			div(class="frameworkAlert")
				img(src="./assets/coastwards.png")
				h4 You have javascript disabled in your browser. To view this site, please enable javascript.
		div(id="Body")
		script(src="./build/translate.bundle.js")