@import '../../../../app/styles/_base';

.zone{

	@extend %flexcontainer;
	width: 100%;
	height: 100%;
	background-color: rgba(96, 125, 139, 0.75);

	p{

		@extend %flexitem;
		font-size: 3vw;
		align-self: center;
		text-align: center;
		color: #fff;

	}

}

.dragactive{

	background-color: rgba(96, 125, 139, 0.25);

}