@import 'app/styles/reset';
@import 'app/styles/tags';

$padding: 5vh 5vh 10vh 5vh;

.login{

    padding: $padding;

}

.admin{

    @extend %flexcontainer;
    height: 100vh;

    .cover{

        @extend %flexcontainer;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 100vw;
        height: 100vh;
        background-color: rgba(255,255,255,0.8);
        z-index: 3;

        .spinner{

            @extend %spinner;

        }

    }

    .options{

        @extend %flexitem;
        flex-grow: 0;
        flex-basis: 30vw;
        height: 100vh;
        overflow-y: scroll;
        padding: $padding;
        box-shadow: 0px 0px 10px rgba(0,0,0,.3), 0px 0px 10px rgba(0,0,0,.22);
        z-index: 3;

        .toggle{

            @extend %toggle;
            border-bottom: $toggle-border;

        }

        .toggle:last-child{

            border-bottom: none;

        }

    }

    .results{

        @extend %flexitem;
        flex-grow: 3;
        height: 100%;
        position: relative;
        height: 100%;
        overflow: hidden;

        .hide{

            @extend %hide;

        }

        .show{

            @extend %show;

        }

    }

}
