@import 'app/styles/reset';
@import 'app/styles/tags';


.corset{

	width: 80vw;
	margin: 0 10vw;
	padding-top: 5vh;

}

.logger{

	display: block;
	text-align: right;

}

.form{

	margin: 2em 0;

	button{

		margin-top: 2em;

	}

	label{

		display: block;
		margin-bottom: 1em;

	}

	input[type='text']{

		display: inline-block;

	}

}

.mapbox{

	width: 80vw;
	height: 100vh;
	margin: 10vh 10vw;

}