@import 'app/styles/base';


.contribution{

	border-top: 1px solid #eee;
    padding: 1em 0;

    @extend %flexcontainer;
    align-items: flex-start;

}

.image{

	width: 200px;

}

.form{

	flex-grow: 1;
	padding: 0 1em;

}

.actions{

	@extend %flexcontainer;
	flex-direction: column;

}

%button{

	margin-bottom: 0.5em;

}

.delete{

	@extend %button;
	background-color: red;

}

.update{

	@extend %button;

}