@import 'app/styles/base';

$action-height: 55px;
$image-length: 390px;

.feature{

	@extend %flexcontainer;
	flex-direction: column;
	margin-bottom: 20px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-right: 20px;
	position: relative;
	overflow: hidden;
	width: $image-length;

	.bar{

		@extend %popupBar;

		font-size: 14px;

		a{

			position: absolute;
			top: 10px;
			right: 10px;
			color: #fff;
			vertical-align: middle;
			margin-left: 0.5em;

		}

	}

	.image{

		background-size: cover;
		background-position: center;
		width: 100%;
		height: $image-length;

	}

	.form{

		padding: 1em;
		margin-bottom: $action-height;

	}

	.actions{

		@extend %flexcontainer;
		flex-direction: row;
		justify-content: flex-end;
		position: absolute;
		bottom: 0;
		left: 0;
		background-color: #fff;
		width: 100%;
		height: $action-height;
	    padding: 1vh;
	    border-top: 1px solid #e1e1e1;
	    box-shadow: 0 19px 60px rgba(0,0,0,.3),0 15px 20px rgba(0,0,0,.22);

	    .delete{

	    	background-color: $color-signal;
	    	margin-right: 1em;

	    }

	    button{

	    	@extend %flexitem;
	    	flex-grow: 0;
	    	padding: 1em 2em;

	    }

	}

}