@import 'app/styles/base';

$action-height: 45px;

%action{

	margin-right: 0.5em;

}

.popup{

	@extend %flexcontainer;
	flex-direction: column;
	align-items: center;
    justify-content: center;
	max-width: 600px;
	max-height: 600px;
	padding-bottom: $action-height;
	width: 80vh;
	height: 80vh;

	.spinner{

		@extend %spinner;

	}

	.top{

		background-size: cover;
		background-position: center;
		height: 100%;
		width: 100%;
		min-height: 20vh;
	}

	.form{

		overflow-y: scroll;
		width: 100%;
		padding: 1vh;

	}

	.actions{

		@extend %flexcontainer;
		flex-direction: row;
		justify-content: space-between;
		position: absolute;
		bottom: 0;
		left: 0;
		background-color: #fff;
		width: 100%;
	    padding: 1vh;

	    .delete{

	    	background-color: $color-signal;


	    }

	    button{

	    	@extend %flexitem;
	    	flex-grow: 0;
	    	padding: 1em 2em;
	    	width: 28vh;

	    }

	}

}